<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello jQuery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    
	    $(document).ready(function() {
	        $.ajax({
	            url: "/demo/greeting"
	        }).then(function(data) {
	           $('.greeting-id').append(data.id);
	           $('.greeting-content').append(data.content);
	        });
	    }); 
	    
    </script>
</head>

<body>
    <div>
        <p class="greeting-id">The ID is </p>
        <p class="greeting-content">The content is </p>
    </div>
</body>
</html>
